<div class="page-layout-container d-flex flex-column">
    <div class="d-flex flex-row">
        <h3 class="group-title">
            Импорт
        </h3>
        <div class="flex-fill">

        </div>
        <button class="standard-button-prim" id="import">
            Импортировать данные
        </button>
    </div>
    <div class="item-input-group d-flex flex-column">
        <h5 class="field-title">
            Выберите файл(CSV таблица):
        </h5>
        <input class="standard-input mb-1" type="file" accept=".csv" id="input_file" />
        <small class="error_box" id="IMPORT_ERROR_err">

        </small>
        <h5 class="field-title">
            Выберите тип импорта:
        </h5>
        <select class="standard-select mb-1" id="import_type">
            @foreach (var type in Contingent.Import.ImportTypeInfo.AvailableImports)
            {
                int typeInt = (int)type.Type;
                <option value="@typeInt">
                    @type.RussianName
                </option>
            }
        </select>
    </div>
</div>

<script src="~/js/processing/import.js" type="module"></script>

