<div class="page-layout-container d-flex flex-column">
    <div class="d-flex flex-row">
        <h3 class="group-title">
            Импорт
        </h3>
        <div class="flex-fill">

        </div>
        <button class="standard-button-prim">
            Импортировать данные
        </button>
    </div>
    <div class="item-input-group d-flex flex-column">
        <h5 class="field-title">
            Выберите файл(CSV таблица):
        </h5>
        <input class="standard-input mb-1" type="file" accept=".csv" />
        <h5 class="field-title">
            Выберите тип импорта:
        </h5>
        <select class="standard-select mb-1">
            @foreach (var type in @Contingent.Import.ImportTypeInfo.AvailableImports)
            {
                <option value="@((int)type.Type)">
                    @type.RussianName
                </option>
            }
        </select>
        <div class=".hidden-element d-flex flex-column">
            <h5>
                Выберите приказ
            </h5>
            <input type="text" class="standard-input" />
        </div>
    </div>





</div>