<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Контингент</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.structure.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.theme.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
</head>

<body>
    <div class="body-wrapper">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white page-header shadow">
                <div class="container-fluid">
                    <a class="navbar-brand" href="~/">Контингент</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-flex flex-row">
                        <div class="dropdown me-3">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="creating"
                                data-bs-toggle="dropdown" aria-expanded="false" style="width: 150px;">
                                Регистрация
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="creating">
                                <li><a class="dropdown-item" href="~/students/modify/new">Студент</a></li>
                                <li><a class="dropdown-item" href="~/groups/modify/new">Группа</a></li>
                                <li><a class="dropdown-item" href="~/specialties/modify/new">Специальность</a></li>
                                <li><a class="dropdown-item" href="~/orders/modify/new">Приказ</a></li>
                            </ul>
                        </div>
                        <div class="dropdown me-3">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="searhing"
                                data-bs-toggle="dropdown" aria-expanded="false" style="width: 150px;">
                                Поиск
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="searhing">
                                <li><a class="dropdown-item" href="~/orders/search">Приказы</a></li>
                                <li><a class="dropdown-item" href="~/students/search">Студенты</a></li>
                                <li><a class="dropdown-item" href="~/specialties/search">Специальности</a></li>
                                <li><a class="dropdown-item" href="~/groups/search">Группы</a></li>

                            </ul>
                        </div>
                        <div class="dropdown me-3">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="functions"
                                data-bs-toggle="dropdown" aria-expanded="false" style="width: 150px;">
                                Функции
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="functions">
                                <li><a class="dropdown-item" href="~/import">Импорт</a></li>
                                <li><a class="dropdown-item" href="~/students/vacations">Отпуска</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="content-wrapper p-3">
            <div class="container page-main-content shadow">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>


        <footer class="border-top text-muted d-flex p-3 justify-content-end">
            <h6 class="me-3">Контингент. Будет лицензировано по GPLv2</h6>
            <h6>
                <a href="~/about">О разработчике</a>
            </h6>
        </footer>
    </div>
</body>

</html>
