@model System.Collections.Generic.IEnumerable<StudentTracking.Models.StudentModel>
@{
    ViewData["Title"] = "Просмотр";
}
<div class="container">
    <form asp-controller="View" asp-action="Index"> 
    <div class="row">
        <div class="d-flex justify-content-between">
            <p class="text-left">Номер группы</p>   
            <p class="text-center">Номер курса</p>
            <p class="text-center">Пол</p>
            <p class="text-right">Минимальный возраст</p>
        </div>    
    </div>
       
    <!-- Пометить unique номер и описание приказа-->
    <div class="row">
            <input type="text" list="_groups"  class="col-3 form_select" name="fgroup">
                <datalist id="_groups">
                    <option>
                        Random
                    </option>
                </datalist>
            </input>
        
        <div class="col-3">
            <input type="text" class="custom_select" name="fcourse">
        </div>      
        <div class="col-3">
            <input type="text" list="_genders"  class="custom_select" name="fgender">
                <datalist id="_genders">
                    <option>
                        Random
                    </option>
                </datalist>
            </input>
        </div>
        <div class="col-3">
            <input type="text" class="custom_select" name="fage">
        </div> 
    </div>
    <div class="row">
        <div class="d-flex justify-content-between">
            <div class="text-left">Форма обучения</div>
            <div class="text-center">Форма финансирования </div>
            <div class="text-right">Минимальный балл при поступлении</div>
        </div>    
    </div>
    <div class="row justify-content-between">
        <div class="col">
            <input type="text" list="_eduforms"  class="custom_select " name="fform">
                <datalist id="_eduforms">
                    <option>
                        Random-2
                    </option>
                </datalist>
            </input>
        </div>
        <div class="col">
            <input type="text" list="_gtypes"  class="custom_select " name="fgtype">
                <datalist id="_gtypes">
                    <option>
                        Random-3
                    </option>
                </datalist>
            </input>
        </div>     
        <div class="col">
            <input type="text" class="custom_select" name="fscore">
        </div>
    </div>
    
    <div class="row">
        <div class="text-left">Специальность</div>
    </div>
    <div class="row">
         <div class="col-12">
            <input type="text" list="_gspecial"  class="custom_select" name="fspecial">
                <datalist id="_gspecial">
                    <option>
                        Random-4
                    </option>
                </datalist>
            </input>
        </div>    
    </div>
    <div class="row">
        <div class="text-left">Социальный статус</div>
    </div>
    <div class="row">
         <div class="col-12">
            <input type="text" list="_gsocial"  class="custom_select" name="fsocial">
                <datalist id="_gsocial">
                    <option>
                        Random-5
                    </option>
                </datalist>
            </input>
        </div>    
    </div>
    <div class="row">
        <div class="text-left">Связанный приказ</div>
    </div>
    <div class="row">
         <div class="col-12">
            <input type="text" list="_orders"  class="custom_select" name="forder">
                <datalist id="_orders">
                    <option>
                        Random-6
                    </option>
                </datalist>
            </input>
        </div>    
    </div>
    <div class="row">
        <div class="col-10">
            <input type="text" class="form-control form-control-small" placeholder="Что искать?"
            name = "query">
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-secondary">Поиск</button>
        </div>
    </div>
    </form>
    
    <div class="row">

    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Зачетка</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Группа</th>
                    <th>Инн</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var student in Model){
                    <tr>
                        <th>None</th>
                        <th>@student.Surname</th>
                        <th>@student.Name</th>
                        <th>@student.Patronymic</th>
                        
                        <th>@student.Inn</th>
                        <th>None</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


