<div class="page-layout-container d-flex flex-column">
    <h3 class="group-title">
        О разработчике
    </h3>
    <div class="item-input-group d-flex flex-row">
        <div class="d-flex flex-column">
            <p>
                Всенепременно приветствую, уважаемый пользователь!
            </p>
            <p>
                Я разработчик этой системы, и имя мое Олег.
            </p>
            <p>
                Если вы столкнулись с ошибкой, или хотите выдвинуть предложения
                по улучшению программы, то перейдите по ссылке ниже
            </p>
            <a href="https://github.com/R4ndomSymbols/Contingent/issues/new">
                Форма для заполнения
            </a>
            <br />
            <a href="https://vk.com/id434914972">
                Мой вк
            </a>
            <br />
            <a href="https://t.me/s0vk9">
                Мой телеграмм
            </a>
            <p>
                <br />
                Я рад, что вы пользуетесь этой программой.
            </p>
            <div class="flex-grow-1">

            </div>
            <h4>
                До встречи! Mata Ne! Farewell!
            </h4>
        </div>
        <div class="d-flex flex-fill">
            <img src="~/resource/developer.png" alt="Стилизованное изображение" class="img-fluid"
                style="max-width: 500px;">
        </div>
    </div>


</div>