@using Contingent.Models.Infrastructure;
@using Contingent.Utilities;
@{
    ViewData["Title"] = "Домашняя";
}

<div class="text-center">
    <h1 class="display-4">Текущий период:</h1>
    <p class="text-center" style="font-size:30px">
        С
        @Utils.FormatDateTime(Period.CurrentOrderPeriod.Start, true)
        по
        @Utils.FormatDateTime(Period.CurrentOrderPeriod.End, true)
    </p>
</div>
<div class="d-flex flex-column text-center">
    <h5>
        <a href="~/statistics">
            Перейти к статистике
        </a>
    </h5>
</div>
<div class="text-center">
    <h6>Последние действия (движения)</h6>
</div>
<div class="flex-row">
    <table class="table">
        <thead>
            <th>Номер зачетки</th>
            <th>ФИО</th>
            <th>Приказ</th>
        </thead>
        <tbody id="last_records">

        </tbody>
    </table>
</div>

<script src="~/js/observe/home_mirror.js" type="module"></script>