@using Contingent.Models.Infrastructure;
@using Utilities;
@{
    ViewData["Title"] = "Домашняя";
}

<div class="text-center">
    <h1 class="display-4">Статистика</h1>
    <p class="text-center" style="font-size:30px">
        За период с
        @Utils.FormatDateTime(Period.CurrentOrderPeriod.Start, true)
        по
        @Utils.FormatDateTime(Period.CurrentOrderPeriod.End, true)
    </p>
</div>
<div class="d-flex flex-column">
    <ul>
        <li>
            <a href="~/statistics/age_specialist">
                Студенты по возрастам (специалисты)
            </a>
        </li>
        <li>
            <a href="~/statistics/age_qualified">
                Студенты по возрастам (квалифицированные рабочие)
            </a>
        </li>
        <li>
            <a href="~/statistics/speciality">
                Студенты по специальностям
            </a>
        </li>
        <li>
            <a href="~/statistics/legalAddress">
                Студенты по прописке
            </a>
        </li>
    </ul>
</div>
<div class="text-center">
    <h6>Последние действия (движения)</h6>
</div>
<div class="flex-row">
    <table class="table">
        <thead>
            <th>Номер зачетки</th>
            <th>ФИО</th>
            <th>Приказ</th>
        </thead>
        <tbody id="last_records">

        </tbody>
    </table>
</div>

<script src="~/js/observe/home.js"></script>