@using StudentTracking.Statistics;
@using StudentTracking.Models.Domain;

@model StatisticTable<StudentModel>;

@{
    string tableAges = Model.ToHtmlTable();    
}

<div>
    @Html.Raw(@tableAges)
</div>
