@using StudentTracking.Statistics.Tables;
@using StudentTracking.Models.Domain.Flow;

@model ITable;

@{
    ViewData["Title"] = Model.DisplayedName;
    string tableAges = Model.Html;    
}
<h1 class="text-center">
    @Model.DisplayedName
</h1>

<div class="table-responsive">
    @Html.Raw(@tableAges)
</div>
