<div class="page-layout-container">
    <div class=".item-input-group">
        <div class="d-flex flex-column">
            <h5 class="field-title">
                Название специальности, код ФГОС
            </h5>
            <div class="d-flex flex-row">
                <input type="text" class="standard-input flex-fill" id="search_text">
                <button id="search_button" class="standard-button-prim">
                    Поиск
                </button>
            </div>
        </div>
    </div>


    <div class="row">
        <table class="table">
            <thead>
                <th>Код ФГОС</th>
                <th>Название</th>
                <th>Квалификация</th>
                <th>Действия</th>
            </thead>
            <tbody id="search_result">

            </tbody>
        </table>
    </div>
</div>

<script src="~/js/search/specialities.js"></script>